certifi==2017.11.5
cffi==1.13.2
chardet==3.0.4
Click==7.0
coverage==4.5.4
dnspython==1.16.0
eventlet==0.25.1
flake8==3.5.0
Flask==1.1.1
Flask-SocketIO==4.2.1
gevent==1.4.0
gevent-socketio==0.3.6
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==18.0
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.1
jsonify==0.5
MarkupSafe==1.1.1
mccabe==0.6.1
monotonic==1.5
neo4j==1.7.5
neo4j-driver==1.7.5
neobolt==1.7.15
neotime==1.7.4
pew==1.1.2
pipenv==9.0.1
psutil==5.4.5
pycodestyle==2.3.1
pycparser==2.19
pyflakes==1.6.0
python-engineio==3.11.0
python-socketio==4.4.0
pytz==2019.3
requests==2.18.4
six==1.12.0
urllib3==1.22
virtualenv==16.7.5
virtualenv-clone==0.5.3
Werkzeug==0.16.0
wincertstore==0.2